@model Business_observatory.Models.Project

@{
    ViewData["Title"] = "Delete";
}
<div id="rs-checkout" class="rs-checkout pt-120 pb-120 md-pt-80 md-pb-80">
    <div class="container">
        <div class="full-grid">
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Title)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Title)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.RegistrationDate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.RegistrationDate)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Status)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Status)
                </dd>
                <dt hidden class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ApplicationUser)
                </dt>
                <dd hidden class="col-sm-10">
                    @Html.DisplayFor(model => model.ApplicationUser.Id)
                </dd>
                <dt hidden class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Company)
                </dt>
                <dd hidden class="col-sm-10">
                    @Html.DisplayFor(model => model.Company.Id)
                </dd>
            </dl>
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                <a asp-action="IndexList">Back to List</a>
            </form>
        </div>    
    </div>
</div>
