@using Microsoft.AspNetCore.Identity
@model IEnumerable<Business_observatory.Models.Contacto>

@{
    Layout = "~/Views/Shared/BackendLayout.cshtml";
    ViewData["Title"] = "Index";
    var encargados = ViewData["userEncargado"] as List<IdentityUser>;
}
<div class="page-header">
    <div class="page-title">
        <h3>Contactos</h3>
        <div class="crumbs">
            <ul id="breadcrumbs" class="breadcrumb">
                <li><a href="index.html"><i class="flaticon-home-fill"></i></a></li>
                <li><a href="#">Tables</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="row layout-spacing">
    <div class="col-lg-12">
        <div class="statbox widget box box-shadow">
            <div class="widget-header">
                <div class="row">
                </div>
            </div>
            <div class="widget-content widget-content-area">
                <div class="row">
                    <div class="col-lg-12 mb-4 column-mode">
                        <div class="table-responsive">
                           
                            <table class="table table-bordered table-hover table-striped table-checkable table-highlight-head mb-4">
                                <thead>
                                    <tr>
                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist">Nombre  </th>
                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist">Apellido </th>
                                        @*                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist">Email </th>
                                        *@
                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist">Telefono </th>
                                        @*                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist">#</th>
                                        *@@*                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist">Fecha de Creacion</th>

                                        *@
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model)
                                    {
                                        <!--Mostrar solo contactos con estado SinAsignar-->
                                        @if (item.Estado == "SinAsignar")
                                        {
                                            <tr>
                                                <td>@item.Nombre </td>
                                                <td>@item.Apellido </td>
                                                @*                                            <td>@item.Email </td>
                                        *@
                                                <td>@item.Telefono </td>
                                                @*                                            <td>@item.FechaCreacion</td>
                                        *@
                                                <td>
                                                    <ul class="table-controls">
                                                        <li>
                                                            <a asp-action="Edit" asp-route-id="@item.Id" data-toggle="tooltip" data-placement="top" title="Editar">
                                                                <i class="flaticon-edit"></i>
                                                            </a>
                                                        </li>
                                                        @*<li>
                                                <a asp-action="Delete" asp-route-id="@item.Id" data-toggle="tooltip" data-placement="top" title="Eliminar">
                                                <i class="flaticon-delete-5"></i>
                                                </a>
                                                </li>*@
                                                    </ul>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>