@model IEnumerable<Business_observatory.Models.Archivo>

@{
    ViewBag.Title = "Nosotros";
    Layout = "~/Views/Shared/FrontendLayout.cshtml";
}
<!-- Main content Start -->
<div class="main-content">

    <!--Full width header Start-->
    <div class="full-width-header">
    </div>
    <!--Full width header End-->
    <!-- Breadcrumbs Start -->
    <div class="rs-breadcrumbs img3">
        <div class="container">
            <div class="breadcrumbs-inner breadcrumbs-style1">
                <h1 class="page-title">
                    Servicios
                </h1>
                <p class="des"> Aproveche la fruta al alcance de la mano para identificar una actividad de valor agregado de estadio para la prueba beta. Anule la brecha digital con clics adicionales</p>
                <ul class="breadcrumbs-area">
                    <li title="Go to Bcom">
                        <a class="active" href="https://www.univalle.edu/">Univalle</a>
                    </li>
                    <li>Servicios</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Breadcrumbs End -->
    <!-- Choose Start -->
    <div class="rs-choose choose-style2 pt-140 pb-140 md-pt-80 md-pb-80">
        <div class="container">
            <div class="row y-middle">
                <div class="col-lg-6 md-mb-50">
                    <div class="images-wrap">
                        <img src="~/Images/UnivalleLOGO.png" alt="Images">
                    </div>
                </div>
                <div class="col-lg-6 pl-30 md-pl-15">
                    <div class="sec-title mb-20">
                        <h2 class="title title11">
                            Brindamos una amplia gama de servicios comerciales
                        </h2>
                        <p class="desc desc88 pb-15">
                            El proyecto tiene como objetivo principal mejorar los servicios ofrecidos en el pie de página de un sitio web o aplicación, con el fin de proporcionar una mejor experiencia al usuario y facilitar su navegación. El pie de página es una sección crucial en cualquier plataforma digital, ya que brinda información importante, enlaces útiles y funcionalidades adicionales.
                        </p>
                    </div>
                    <!-- Services Start -->
                    <div class="rs-services services-style9 pt-20">
                        <div class="row">
                            <div class="col-lg-6 md-mb-30">
                                <div class="services-item">
                                    <div class="services-icon">
                                        <img src="~/Images/logo2.png" alt="Images">
                                    </div>
                                    <div class="services-content">
                                        <h5 class="title">Pueblos Expertos</h5>
                                        <div class="desc-text"> Aproveche la fruta al alcance de la mano para identificar una actividad de valor agregado de estadio de béisbol.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="services-item">
                                    <div class="services-icon">
                                        <img src="~/Images/logo2.png" alt="Images">
                                    </div>
                                    <div class="services-content">
                                        <h5 class="title">El crecimiento del negocio</h5>
                                        <div class="desc-text">Traiga a la mesa estrategias de supervivencia de ganar-ganar para asegurar la dominación.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Services End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Choose End -->
    <!-- Services Start -->
    <div class="rs-services services-style8 services-modify7 gray-bg6 pt-135 pb-140 md-pt-75 md-pb-80">
        <div class="container">
            <div class="sec-title text-center mb-60">
                <h2 class="title title12 two-blue-subnormal main-subnormal">
                    <span class="watermark">Nuestros increíbles proyectos</span>
                </h2>
            </div>
            <div class="row">
                @foreach (var item in Model.Reverse())
                {
                    <div class="col-lg-4 col-md-6 mb-55">
                    <div class="services-item" >
                    <div class="services-wrap" style="height:25rem;">
                    <div class="numbering">
                }
            </div>
            <div class="services-icon">
                <img src="assets/images/services/main-home/blue/ser-1.png" alt="">
            </div>
            <div class="services-content">
            <h6 class="title"><a href="business-services.html">@Html.DisplayFor(modelItem=>item.Nombre)</a></h6>
            <p class="services-txt">
            @{
            string descripcion = item.Descripcion;
            int longitudTotal = descripcion.Length;
            int longitudVeintePorciento = (int)(longitudTotal * 0.2);
            int ultimoEspacio = descripcion.LastIndexOf(" ", longitudVeintePorciento);

            // Si no se encuentra ningún espacio en blanco, se utiliza la longitud original.
            if (ultimoEspacio < 0)
            {
            ultimoEspacio = longitudVeintePorciento;
            }

            string primerosCaracteres = descripcion.Substring(0, ultimoEspacio);
            }
            @primerosCaracteres...
            </p>
            <div class="services-button ser-btn3">
                <a type="button" class="btn btn-dark" asp-controller="Archivoes" asp-action="DownloadFileFromDatabase" asp-route-id="@item.Id">Descargar</a>
            </div>
            </div>
            </div>
            </div>
            </div>
            }
            </div>
        </div>
    </div>
    <!-- Services End -->
    <!-- Partner Start -->
    <div class="rs-partner partner-style2 partner-modify5 partner-about1 pt-100 pb-100 md-pt-80 md-pb-20">
        <div class="container custom10">
            <div class="row y-middle">
                <div class="col-lg-5 pr-50 md-pr-15">
                    <div class="sec-title">
                        <h2 class="title title11 pb-24">
                            Nuestros proyectos
                        </h2>
                        <p class="desc desc88 pb-35">
                            El Proyecto X tiene como objetivo principal mejorar la calidad de vida de las comunidades marginadas en nuestra región. A través de estrategias integrales y sostenibles, buscamos brindar acceso a educación, salud y oportunidades económicas a aquellos que más lo necesitan.
                        </p>
                        <div class="btn-part">
                            <a class="readon consultant get-yellow blue-light" href="https://www.univalle.edu/">Ver socios</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="partner-wrap">
                        <div class="row no-gutters">
                            <div class="col-lg-4 col-md-6 col-sm-6 col-6 logo-grid-item">
                                <div class="partner-item">
                                    <div class="logo-img">
                                        <a href="https://rstheme.com">
                                            <img class="hovers-logos" src="assets/images/partner/style1/black-logo/ptnr-1.png" alt="">
                                            <img class="mains-logos " src="assets/images/partner/style1/black-logo/ptnr-1.png" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 col-6 logo-grid-item">
                                <div class="partner-item">
                                    <div class="logo-img">
                                        <a href="https://rstheme.com">
                                            <img class="hovers-logos" src="assets/images/partner/style1/black-logo/ptnr-2.png" alt="">
                                            <img class="mains-logos " src="assets/images/partner/style1/black-logo/ptnr-2.png" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 col-6 logo-grid-item">
                                <div class="partner-item">
                                    <div class="logo-img">
                                        <a href="https://rstheme.com">
                                            <img class="hovers-logos" src="assets/images/partner/style1/black-logo/ptnr-3.png" alt="">
                                            <img class="mains-logos " src="assets/images/partner/style1/black-logo/ptnr-3.png" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 col-6 logo-grid-item">
                                <div class="partner-item">
                                    <div class="logo-img">
                                        <a href="https://rstheme.com">
                                            <img class="hovers-logos" src="assets/images/partner/style1/black-logo/ptnr-4.png" alt="">
                                            <img class="mains-logos " src="assets/images/partner/style1/black-logo/ptnr-4.png" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 col-6 logo-grid-item">
                                <div class="partner-item">
                                    <div class="logo-img">
                                        <a href="https://rstheme.com">
                                            <img class="hovers-logos" src="assets/images/partner/style1/black-logo/ptnr-5.png" alt="">
                                            <img class="mains-logos " src="assets/images/partner/style1/black-logo/ptnr-5.png" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 col-6 logo-grid-item">
                                <div class="partner-item">
                                    <div class="logo-img">
                                        <a href="https://rstheme.com">
                                            <img class="hovers-logos" src="assets/images/partner/style1/black-logo/ptnr-6.png" alt="">
                                            <img class="mains-logos " src="assets/images/partner/style1/black-logo/ptnr-6.png" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 col-6 logo-grid-item">
                                <div class="partner-item">
                                    <div class="logo-img">
                                        <a href="https://rstheme.com">
                                            <img class="hovers-logos" src="assets/images/partner/style1/black-logo/ptnr-7.png" alt="">
                                            <img class="mains-logos " src="assets/images/partner/style1/black-logo/ptnr-7.png" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 col-6 logo-grid-item">
                                <div class="partner-item">
                                    <div class="logo-img">
                                        <a href="https://rstheme.com">
                                            <img class="hovers-logos" src="assets/images/partner/style1/black-logo/ptnr-8.png" alt="">
                                            <img class="mains-logos " src="assets/images/partner/style1/black-logo/ptnr-8.png" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 col-6 logo-grid-item">
                                <div class="partner-item">
                                    <div class="logo-img">
                                        <a href="https://rstheme.com">
                                            <img class="hovers-logos" src="assets/images/partner/style1/black-logo/ptnr-9.png" alt="">
                                            <img class="mains-logos " src="assets/images/partner/style1/black-logo/ptnr-9.png" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Partner End -->

</div>
<!-- Main content End -->
@*<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
*@
