@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/FrontendLayout.cshtml";
}
<!-- Faq Start -->
<div class="rs-faq faq-style1 faq-modify5 pt-130 pb-130 md-pt-80 md-pb-80" id="Contactenos">
    <div class="container">
        <div class="row no-gutters">
                <div class="col-lg-7">
                    <div class="content-wrap">
                        <div class="sec-title mb-40">
                            <span class="sub-text sub-text2">Registro</span>
                            <h2 class="title pb-25">
                                Registrarse
                            </h2>
                            <p class="desc">
                                Aqui ves y recibes mas informacion de lo que nosotros hacemos con Nuestro Observatorio Empresarial
                            </p>
                            </p>
                        </div>
                        <div class="faq-content">
                            <div id="accordion" class="accordion">
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
<br />
<br />
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-5">
                    <!-- Contact Section End -->
                    <div class="rs-contact contact-style8">
                        <div class="contact-wrap">
                            <div class="sec-title mb-30">
                                <h2 class="title white-color">
                                    Registrarse
                                </h2>
                            </div>
                            <div id="form-messages"></div>
                            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                                <fieldset>
                                    <div class="row">
                                        <div class="col-sm-12 mb-20">
                                            <input asp-for="Input.Email" id="gname" class="from-control" type="text" required="" placeholder="Email">
                                        </div>
                                        <div class="col-sm-12 mb-20">
                                            <input asp-for="Input.Password" id="tname" class="from-control" type="password" required="" placeholder="Contraseña">
                                        </div>
                                        <div class="col-sm-12 mb-20">
                                            <input asp-for="Input.ConfirmPassword" id="tname" class="from-control" type="password" required="" placeholder="Confirmar Contraseña">
                                        </div>
                                    </div>
                                    <button class="readon submit submit-purple2" type="submit">Registrar</button>
                                </fieldset>
                            </form>
                        </div>
                        <div class="">
                            <section>
                                @{
                                    if ((Model.ExternalLogins?.Count ?? 0) == 0)
                                    {
                                        <div>
                                            <p>

                                            </p>
                                        </div>
                                    }
                                    else
                                    {
                                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                            <div>
                                                <p>
                                                    @foreach (var provider in Model.ExternalLogins!)
                                                    {
                                                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                                    }
                                                </p>
                                            </div>
                                        </form>
                                    }
                                }
                            </section>
                    </div>
                    <!-- Contact Section End -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Faq End -->
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
