@model Business_observatory.Models.Contact

@{
    ViewData["Title"] = "Details";
}
<div class="container-fluid" style="padding-bottom: 130px; background-color: gray">
</div>
<div class="page-heading page__heading__img">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="header-text">
                    <h2>Solicitudes</h2>
                    <div class="div-dec"></div>
                    <div class="div"><p class="div__p">Los proyectos de investigación son estudios planificados y diseñados para investigar un tema específico con el objetivo de obtener nuevos conocimientos o desarrollar soluciones a problemas.</p></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div>
        <h4>Contact</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Surname)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Surname)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Phone)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Phone)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Message)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Message)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Status)
            </dt>
            <dd class="col-sm-10">
                @if (Model.Status == "Activo")
                {
                    <img src="~/Images/CheckIcon.png" style="width:50px; height:50px">
                }
                else if (Model.Status == "En-Progreso")
                {
                    <img src="~/Images/pending-clock-icon.png" style="width:50px; height:50px">
                }
                else if (Model.Status == "Inactivo")
                {
                    <img src="~/Images/red-x-icon.png" style="width:50px; height:50px">
                }

            </dd>
            <div>
                <button id="button1">ACTIVE</button>
                <button id="button2">IN-PROGRESS</button>
                <button id="button3">INACTIVE</button>

            </div>
        </dl>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4 form__text">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <input type="hidden" asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="hidden" asp-for="Surname" class="form-control" />
                        <span asp-validation-for="Surname" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="hidden" asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="hidden" asp-for="Phone" class="form-control" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="hidden" asp-for="Message" class="form-control" />
                        <span asp-validation-for="Message" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Status" class="control-label"></label>
                        <input asp-for="Status" class="form-control" type="text" id="my-input" readonly>
                        <span asp-validation-for="Status" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>

    </div>

    <script>
        document.getElementById("button1").addEventListener("click", function () {
            document.getElementById("my-input").value = "Activo";
        });

        document.getElementById("button2").addEventListener("click", function () {
            document.getElementById("my-input").value = "En-Progreso";
        });

        document.getElementById("button3").addEventListener("click", function () {
            document.getElementById("my-input").value = "Inactivo";
        });
    </script>

