@model IEnumerable<Business_observatory.Models.Contact>

@{
    ViewData["Title"] = "Index";
}
<div class="page-heading page__heading__img">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="header-text">
                    <h2>Solicitudes</h2>
                    <div class="div-dec"></div>
                    <div class="div"><p class="div__p"></p></div>
                </div>
            </div>
        </div>
    </div>
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table form__text">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<!-- Contact Section Start -->
<div class="rs-contact contact-style6 pt-140 md-pt-80">
	<div class="container custom12">
		<div class="row y-middle">
			<div class="col-lg-7 pr-150 md-pr-15 md-mb-50">
				<div class="sec-title mb-30">
					<h2 class="title pb-14">
						Let's Start<br>Something Great!
					</h2>
					<p class="desc desc9">
						Proactively customize cross-media schemas rather than high-payoff the customer service. Uniquely enable extensible niche.
					</p>
				</div>
				<div class="address-boxs mb-30">
					<div class="address-icon">
						<i class="ri-map-pin-fill"></i>
					</div>
					<div class="address-text">
						<div class="text">
							<span class="label">Location</span>
							<span class="des">
								Washington square park, USA
							</span>
						</div>
					</div>
				</div>
				<div class="address-boxs mb-30">
					<div class="address-icon">
						<i class="ri-mail-fill"></i>
					</div>
					<div class="address-text">
						<div class="text">
							<span class="label">E-mail</span>
							<span class="des">
								info@yourdamo.com
							</span>
						</div>
					</div>
				</div>
				<div class="address-boxs">
					<div class="address-icon">
						<i class="fa fa-phone"></i>
					</div>
					<div class="address-text">
						<div class="text">
							<span class="label">Call Us</span>
							<span class="des">
								(00) 123 456 789 00
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-5">
				<div class="contact-wrap">
					<div class="sec-title mb-35">
						<h3 class="title pb-14 title3 white-color">
							Need Help?
						</h3>
						<p class="desc desc2">
							Proactively fashion world-class leadership vis-a-vis enterprise e-services. Great strong leadership.
						</p>
					</div>
					<div id="form-messages"></div>
					<form id="contact-form" method="post" action="mailer.php">
						<fieldset>
							<div class="row">
								<div class="col-lg-12 mb-15">
									<span class="wpcf7-form-control-wrap">
										<i class="ri-user-3-line"></i>
										<input class="from-control" type="text" id="name" name="name" placeholder="Name" required="">
									</span>
								</div>
								<div class="col-lg-12 mb-15">
									<span class="wpcf7-form-control-wrap">
										<i class="ri-mail-send-line"></i>
										<input class="from-control" type="text" id="email" name="email" placeholder="E-mail" required="">
									</span>
								</div>
								<div class="col-lg-12 mb-15">
									<span class="wpcf7-form-control-wrap">
										<i class="ri-price-tag-3-line"></i>
										<input class="from-control" type="text" id="subject" name="subject" placeholder="Subject" required="">
									</span>
								</div>
								<div class="col-lg-12 mb-15">
									<span class="wpcf7-form-control-wrap">
										<i class="ri-edit-2-line"></i>
										<textarea class="from-control" id="message" name="message" placeholder="Type your messags here" required=""></textarea>
									</span>
								</div>
							</div>
							<div class="btn-part">
								<div class="form-group mb-0">
									<input class="readon submit submit-green1" type="submit" value="Send Inquiry">
								</div>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="map-canvas pt-130 md-pt-80">
		<iframe src="https://maps.google.com/maps?q=rstheme&t=&z=13&ie=UTF8&iwloc=&output=embed"></iframe>
	</div>
</div>
<!-- Contact Section End -->
<!-- Cta Start -->
<div class="rs-cta cta-main-home cta-style7 pt-45 pb-45">
	<div class="container custom10">
		<div class="row y-middle">
			<div class="col-lg-7 md-mb-30">
				<div class="sec-title">
					<h3 class="title title13">
						Let's Start Something <span class="primary-color">Great!</span>
					</h3>
				</div>
			</div>
			<div class="col-lg-5">
				<div class="rs-contact-box">
					<div class="address-item">
						<div class="address-icon">
							<i class="fa fa-phone"></i>
						</div>
						<div class="address-text">
							<div class="text">
								<span class="label">Call Us 24/7</span>
								<a href="tel:+(00)123456789">(00) 123 456 789</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="animate-wrap">
			<img src="assets/images/cta/style1/arrow.png" alt="Images">
		</div>
	</div>
</div>
<!-- Cta End -->