@{
    ViewBag.Title = "Contactenos";
	Layout = "~/Views/Shared/FrontendLayout.cshtml";
}
<!-- Main content Start -->
<div class="main-content">

    <!--Full width header Start-->
    <div class="full-width-header">
    </div>
    <!--Full width header End-->
    <!-- Breadcrumbs Start -->
    <div class="rs-breadcrumbs img3">
        <div class="container">
            <div class="breadcrumbs-inner breadcrumbs-style1">
                <h1 class="page-title">
                    Contactenos 
                </h1>
                <p class="des">Mediante este formulario se puede comunicar con nuestros operadores o con nuestro call center</p>
                <ul class="breadcrumbs-area">
                    <li title="Go to Bcom">
                        <a class="active" href="https://www.univalle.edu/">Univalle</a>
                    </li>
                    <li>Contactos</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Breadcrumbs End -->
   <!-- Faq Start -->
		<div class="rs-faq faq-style1 faq-modify5 pt-130 pb-130 md-pt-80 md-pb-80">
			<div class="container">
				<div class="row no-gutters">
					<div class="col-lg-7">
						<div class="content-wrap">
							<div class="sec-title mb-40">
								<span class="sub-text sub-text2">Ayuda</span>
								<h2 class="title pb-25">
										Nosotros creamos algo para tu futuro								
								</h2>
								<p class="desc">
									El Observatorio Empresarial es un centro especializado en la vigilancia y análisis de tendencias y cambios en el mundo de los negocios. Proporcionamos información actualizada y asesoramiento estratégico a las empresas para tomar decisiones informadas en un entorno empresarial dinámico.
								</p>
							</div>
							<div class="faq-content">
								<div id="accordion" class="accordion">
									<div class="card">
										<div class="card-header">
											<a class="card-link" href="#" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true">Que es le Observatorio Empresarial?</a>
										</div>
										<div id="collapseOne" class="collapse show" data-bs-parent="#accordion">
											<div class="card-body">
												El Observatorio Empresarial es un centro especializado en la vigilancia y análisis de tendencias y cambios en el mundo de los negocios. Proporcionamos información actualizada y asesoramiento estratégico a las empresas para tomar decisiones informadas en un entorno empresarial dinámico.
											</div>
										</div>
									</div>
									<div class="card">
										<div class="card-header">
											<a class="card-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false">Conoce mas sobre Nosotros</a>
										</div>
										<div id="collapseTwo" class="collapse" data-bs-parent="#accordion" style="">
											<div class="card-body">
												El Observatorio Empresarial es un centro especializado en la vigilancia y análisis de tendencias y cambios en el mundo de los negocios. Proporcionamos información actualizada y asesoramiento estratégico a las empresas para tomar decisiones informadas en un entorno empresarial dinámico.
											</div>
										</div>
									</div>
									<div class="card">
										<div class="card-header">
											<a class="card-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false">Puedes revisar mas Informacion sobre Nosotros</a>
										</div>
										<div id="collapseThree" class="collapse" data-bs-parent="#accordion" style="">
											<div class="card-body">
												El Observatorio Empresarial es un centro especializado en la vigilancia y análisis de tendencias y cambios en el mundo de los negocios. Proporcionamos información actualizada y asesoramiento estratégico a las empresas para tomar decisiones informadas en un entorno empresarial dinámico.
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="faq-button faq-btn1 mt-45">
								necesitas ayuda?
								<a href="https://localhost:7005/Home/Contactenos">Contactenos<i class="ri-arrow-right-up-line"></i></a>
							</div>
						</div>
					</div>
					<div class="col-lg-5">
						<!-- Contact Section End -->
						<div class="rs-contact contact-style8">
							<div class="contact-wrap">
								<div class="sec-title mb-30">
									<h2 class="title white-color">
										Ponerse en contacto
									</h2>
								</div>
								<div id="form-messages"></div>
								<form id="contact-form" method="post" action="mailer.php">
									<fieldset>
										<div class="row">
											<div class="col-sm-12 mb-20">
												<input class="from-control" type="text" id="name" name="name" placeholder="Nombre" required="">
											</div>
											<div class="col-sm-12 mb-20">
												<input class="from-control" type="text" id="email" name="email" placeholder="Email" required="">
											</div>
											<div class="col-sm-12 mb-20">
												<input class="from-control" type="text" id="phone" name="phone" placeholder="Celular" required="">
											</div>
											<div class="col-sm-12 mb-20">
												<input class="from-control" type="text" id="Query" name="Query" placeholder="Consulta" required="">
											</div>
											<div class="col-sm-12 mb-35">
												<textarea class="from-control" id="message" name="message" placeholder="Escriba su mensaje aqui!" required=""></textarea>
											</div>
										</div>
										<div class="btn-part">
											<div class="form-group mb-0">
												<input class="readon submit submit-purple2" type="submit" value="Enviar ahora">
											</div>
										</div>
									</fieldset>
								</form>
							</div>
						</div>
						<!-- Contact Section End -->
					</div>
				</div>
			</div>
		</div>
		<!-- Faq End -->
    
    
    <!-- Cta Start -->
    <div class="rs-cta cta-main-home cta-style7 pt-45 pb-45">
        <div class="container custom10">
            <div class="row y-middle">
                <div class="col-lg-7 md-mb-30">
                    <div class="sec-title">
                        <h3 class="title title13">
                           Comencemos algo <span class="primary-color">Excelente!!</span>
                        </h3>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="rs-contact-box">
                        <div class="address-item">
                            <div class="address-icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="address-text">
                                <div class="text">
                                    <span class="label">Llámenos 24/7</span>
                                    <a href="">(00) 123 456 789</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="animate-wrap">
                <img src="assets/images/cta/style1/arrow.png" alt="Images">
            </div>
        </div>
    </div>
    <!-- Cta End -->
    <br />
    <br />
    <br />
    <br />
</div>
<!-- Main content End -->
@*<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
*@
