@model IEnumerable<Business_observatory.Models.Category>

@{
    ViewData["Title"] = "Index";
}
<div class="rs-cart pt-120 pb-120 md-pt-80 md-pb-80">
    <div class="container">
        <div class="cart-wrap">
            <p>
                <a asp-action="Create">Create New</a>
            </p>
            <table class="cart-table">
                <thead>
                    <tr>
                        <th class="product-name">
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="product-name">
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

